{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "createTestbed": true
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "plugins": [
    "react",
    "mocha"
  ],
  "rules": {
    "generator-star-spacing": 0, # https://github.com/babel/babel-eslint/issues/316
    "max-len": [2, 120, 2],
    "jsx-quotes": [2, "prefer-double"],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true,
      "mode": "minimum"
    }],
    "no-var": 2,
    "no-ternary": 0,
    "prefer-const": 2,
    "no-console": 2,
    "no-param-reassign": [2, { "props": true }],
    "mocha/no-exclusive-tests": "error"
  },
  "extends": [
    "standard",
    "standard-react"
  ]
}
