.avatar {
  margin: 2rem;
  font-size: 8rem;
}

.bannerMarc {
  color: rgb(95, 171, 255);
}

.bannerAndrea {
  color: rgb(95, 255, 198);
}

.bannerWhitley {
  color: rgb(176, 255, 95);
}

.bannerMarley {
  color: rgb(191, 141, 234);
}

.wrapper{
  text-align: center;
  margin-top: var(--extra-large-padding);
}
