.avatar {
  margin: 2rem;
  font-size: 8rem;
}

.banner {
  width: 100%;
  color: #8e8ef7;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--extra-large-padding);
}

.nameplate {
  font-size: 1rem;
  text-align: center;
}

.yearSelect {
  max-width: 15rem;
  min-width: 10rem;
  margin: auto;
}

.members {
  display: flex;
  justify-content: center;
}
